initital_ofb_chatreplication.json
{
  "meta": {
    "instanceId": "d102396db5484ae5f2c74878bd7e78c14986a880d4ae36aa99666b1a0badfa4c"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "05df7a86-d4dd-4c90-b7d2-87b7d78aa973",
      "name": "On new manual Chat Message",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "position": [
        520,
        100
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "2554a51a-7db1-48d2-98a7-d182fb90e1bc",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        500,
        1500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "mistralai/Mixtral-8x7B-Instruct-v0.1",
        "options": {},
        "requestOptions": {}
      },
      "id": "50294454-c1df-4362-a66b-4608b9a6c534",
      "name": "Hugging Face Inference Model",
      "type": "@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        420,
        320
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "JfH31J3umBPA8Xnj",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "requestOptions": {}
      },
      "id": "6eeb848c-d0fa-4033-a025-a211577d89d6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        760,
        320
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {
          "temperature": 0.1
        },
        "requestOptions": {}
      },
      "id": "bf0a854d-1af1-4450-bf1c-50d03eafff32",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        580,
        320
      ],
      "credentials": {
        "groqApi": {
          "id": "e9evZGkr7935SZOV",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json.data.content;\n\nconst transformedData = inputData.map(item => {\n  return {\n    country: item.country,\n    oasysCategoryId: item.oasysCategoryId,\n    isGST: item.isGST,\n    locationType: item.locationType,\n    cityId: item.cityId,\n    source: item.source,\n    pricingId: item.pricingId,\n    lastUpdated: item.lastUpdated,\n    score: item.score,\n    uom: item.uom,\n    additionalParameterId: item.additionalParameterId,\n    visibilityFilter: item.visibilityFilter,\n    price: item.price,\n    state: item.state,\n    remarkId: item.remarkId,\n    oasysProductId: item.oasysProductId,\n    brand: item.brand,\n    slug: item.slug,\n    basePrice: item.basePrice,\n    priceChange: item.priceChange,\n    image: item.image,\n    productId: item.productId,\n    index: item.index,\n    productSlug: item.productSlug,\n    categorySlug: item.categorySlug,\n    plantType: item.plantType,\n    tags: item.tags,\n    uniqueName: item.uniqueName,\n    brandId: item.brandId,\n    grade: item.grade,\n    region: item.region,\n    mandiSubtype: item.mandiSubtype,\n    distance: item.distance,\n    city: item.city,\n    displayName: item.displayName,\n    canOrder: item.canOrder,\n    enabled: item.enabled,\n    mandiType: item.mandiType,\n    expiryDate: item.expiryDate,\n    maskedPrice: item.maskedPrice,\n    currency: item.currency,\n    productType: item.productType,\n    priceChangePercent: item.priceChangePercent,\n    live: item.live,\n    product: item.product,\n    gradeId: item.gradeId,\n    currencySymbol: item.currencySymbol,\n    longLoc: item.longLoc,\n    followed: item.followed,\n    productTypeId: item.productTypeId,\n    latLoc: item.latLoc,\n    additionalParameters: item.additionalParameters,\n    category: item.category,\n    categoryId: item.categoryId,\n    remarks: item.remarks,\n    pricingType: item.pricingType\n  };\n});\n\nreturn transformedData.map(data => ({ json: data }));\n"
      },
      "id": "56813c50-0f87-4f62-be6a-8463234d28bb",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "position": [
        980,
        1620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a80e884-1adb-41b1-b3a5-1f030da1735a",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "f41ff21a-17ad-4652-bc2f-aed00419ceb0",
              "name": "State ",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "106bf523-cf53-48c1-a353-98968387d1d0",
              "name": "Product",
              "value": "={{ $json.product }}",
              "type": "string"
            },
            {
              "id": "237a128a-d5fd-4ef8-8837-332948674108",
              "name": "Price",
              "value": "={{ $json.basePrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "60a904e5-4dad-4f46-b9b9-eb8443e6cd0f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1620
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"
      },
      "id": "15518c22-9348-4942-a148-9cda7ddf779b",
      "name": "Stringify For OFB",
      "type": "n8n-nodes-base.code",
      "position": [
        1420,
        1620
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json.data.content;\n\nconst transformedData = inputData.map(item => {\n  return {\n    country: item.country,\n    oasysCategoryId: item.oasysCategoryId,\n    isGST: item.isGST,\n    locationType: item.locationType,\n    cityId: item.cityId,\n    source: item.source,\n    pricingId: item.pricingId,\n    lastUpdated: item.lastUpdated,\n    score: item.score,\n    uom: item.uom,\n    additionalParameterId: item.additionalParameterId,\n    visibilityFilter: item.visibilityFilter,\n    price: item.price,\n    state: item.state,\n    remarkId: item.remarkId,\n    oasysProductId: item.oasysProductId,\n    brand: item.brand,\n    slug: item.slug,\n    basePrice: item.basePrice,\n    priceChange: item.priceChange,\n    image: item.image,\n    productId: item.productId,\n    index: item.index,\n    productSlug: item.productSlug,\n    categorySlug: item.categorySlug,\n    plantType: item.plantType,\n    tags: item.tags,\n    uniqueName: item.uniqueName,\n    brandId: item.brandId,\n    grade: item.grade,\n    region: item.region,\n    mandiSubtype: item.mandiSubtype,\n    distance: item.distance,\n    city: item.city,\n    displayName: item.displayName,\n    canOrder: item.canOrder,\n    enabled: item.enabled,\n    mandiType: item.mandiType,\n    expiryDate: item.expiryDate,\n    maskedPrice: item.maskedPrice,\n    currency: item.currency,\n    productType: item.productType,\n    priceChangePercent: item.priceChangePercent,\n    live: item.live,\n    product: item.product,\n    gradeId: item.gradeId,\n    currencySymbol: item.currencySymbol,\n    longLoc: item.longLoc,\n    followed: item.followed,\n    productTypeId: item.productTypeId,\n    latLoc: item.latLoc,\n    additionalParameters: item.additionalParameters,\n    category: item.category,\n    categoryId: item.categoryId,\n    remarks: item.remarks,\n    pricingType: item.pricingType\n  };\n});\n\nreturn transformedData.map(data => ({ json: data }));\n"
      },
      "id": "14d27be9-4f62-4c9d-b864-887309433fb0",
      "name": "Transform Data1",
      "type": "n8n-nodes-base.code",
      "position": [
        980,
        1380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json.data.content;\n\nconst transformedData = inputData.map(item => {\n  return {\n    country: item.country,\n    oasysCategoryId: item.oasysCategoryId,\n    isGST: item.isGST,\n    locationType: item.locationType,\n    cityId: item.cityId,\n    source: item.source,\n    pricingId: item.pricingId,\n    lastUpdated: item.lastUpdated,\n    score: item.score,\n    uom: item.uom,\n    additionalParameterId: item.additionalParameterId,\n    visibilityFilter: item.visibilityFilter,\n    price: item.price,\n    state: item.state,\n    remarkId: item.remarkId,\n    oasysProductId: item.oasysProductId,\n    brand: item.brand,\n    slug: item.slug,\n    basePrice: item.basePrice,\n    priceChange: item.priceChange,\n    image: item.image,\n    productId: item.productId,\n    index: item.index,\n    productSlug: item.productSlug,\n    categorySlug: item.categorySlug,\n    plantType: item.plantType,\n    tags: item.tags,\n    uniqueName: item.uniqueName,\n    brandId: item.brandId,\n    grade: item.grade,\n    region: item.region,\n    mandiSubtype: item.mandiSubtype,\n    distance: item.distance,\n    city: item.city,\n    displayName: item.displayName,\n    canOrder: item.canOrder,\n    enabled: item.enabled,\n    mandiType: item.mandiType,\n    expiryDate: item.expiryDate,\n    maskedPrice: item.maskedPrice,\n    currency: item.currency,\n    productType: item.productType,\n    priceChangePercent: item.priceChangePercent,\n    live: item.live,\n    product: item.product,\n    gradeId: item.gradeId,\n    currencySymbol: item.currencySymbol,\n    longLoc: item.longLoc,\n    followed: item.followed,\n    productTypeId: item.productTypeId,\n    latLoc: item.latLoc,\n    additionalParameters: item.additionalParameters,\n    category: item.category,\n    categoryId: item.categoryId,\n    remarks: item.remarks,\n    pricingType: item.pricingType\n  };\n});\n\nreturn transformedData.map(data => ({ json: data }));\n"
      },
      "id": "99ef3ce4-241d-401e-8b70-837c43a0ff64",
      "name": "Transform Data2",
      "type": "n8n-nodes-base.code",
      "position": [
        980,
        1180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json.data.content;\n\nconst transformedData = inputData.map(item => {\n  return {\n    country: item.country,\n    oasysCategoryId: item.oasysCategoryId,\n    isGST: item.isGST,\n    locationType: item.locationType,\n    cityId: item.cityId,\n    source: item.source,\n    pricingId: item.pricingId,\n    lastUpdated: item.lastUpdated,\n    score: item.score,\n    uom: item.uom,\n    additionalParameterId: item.additionalParameterId,\n    visibilityFilter: item.visibilityFilter,\n    price: item.price,\n    state: item.state,\n    remarkId: item.remarkId,\n    oasysProductId: item.oasysProductId,\n    brand: item.brand,\n    slug: item.slug,\n    basePrice: item.basePrice,\n    priceChange: item.priceChange,\n    image: item.image,\n    productId: item.productId,\n    index: item.index,\n    productSlug: item.productSlug,\n    categorySlug: item.categorySlug,\n    plantType: item.plantType,\n    tags: item.tags,\n    uniqueName: item.uniqueName,\n    brandId: item.brandId,\n    grade: item.grade,\n    region: item.region,\n    mandiSubtype: item.mandiSubtype,\n    distance: item.distance,\n    city: item.city,\n    displayName: item.displayName,\n    canOrder: item.canOrder,\n    enabled: item.enabled,\n    mandiType: item.mandiType,\n    expiryDate: item.expiryDate,\n    maskedPrice: item.maskedPrice,\n    currency: item.currency,\n    productType: item.productType,\n    priceChangePercent: item.priceChangePercent,\n    live: item.live,\n    product: item.product,\n    gradeId: item.gradeId,\n    currencySymbol: item.currencySymbol,\n    longLoc: item.longLoc,\n    followed: item.followed,\n    productTypeId: item.productTypeId,\n    latLoc: item.latLoc,\n    additionalParameters: item.additionalParameters,\n    category: item.category,\n    categoryId: item.categoryId,\n    remarks: item.remarks,\n    pricingType: item.pricingType\n  };\n});\n\nreturn transformedData.map(data => ({ json: data }));\n"
      },
      "id": "b2bd1f7d-c42c-4d6f-8832-a18830ad9f78",
      "name": "Transform Data3",
      "type": "n8n-nodes-base.code",
      "position": [
        980,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a80e884-1adb-41b1-b3a5-1f030da1735a",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "f41ff21a-17ad-4652-bc2f-aed00419ceb0",
              "name": "State ",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "106bf523-cf53-48c1-a353-98968387d1d0",
              "name": "Product",
              "value": "={{ $json.product }}",
              "type": "string"
            },
            {
              "id": "237a128a-d5fd-4ef8-8837-332948674108",
              "name": "Price",
              "value": "={{ $json.basePrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "11bd4879-2eed-43ad-8331-ea563086b13d",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a80e884-1adb-41b1-b3a5-1f030da1735a",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "f41ff21a-17ad-4652-bc2f-aed00419ceb0",
              "name": "State ",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "106bf523-cf53-48c1-a353-98968387d1d0",
              "name": "Product",
              "value": "={{ $json.product }}",
              "type": "string"
            },
            {
              "id": "237a128a-d5fd-4ef8-8837-332948674108",
              "name": "Price",
              "value": "={{ $json.basePrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "50d3a2f4-ad43-4f1c-be46-809175aa833d",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a80e884-1adb-41b1-b3a5-1f030da1735a",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "f41ff21a-17ad-4652-bc2f-aed00419ceb0",
              "name": "State ",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "106bf523-cf53-48c1-a353-98968387d1d0",
              "name": "Product",
              "value": "={{ $json.product }}",
              "type": "string"
            },
            {
              "id": "237a128a-d5fd-4ef8-8837-332948674108",
              "name": "Price",
              "value": "={{ $json.basePrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "736c7169-5530-4d29-909f-c2826c8ac483",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1000
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"
      },
      "id": "0a018a65-68d8-4e26-91da-452aef136080",
      "name": "Stringify For OFB1",
      "type": "n8n-nodes-base.code",
      "position": [
        1420,
        1380
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"
      },
      "id": "21cb36ea-de63-4773-955c-c2e77c283411",
      "name": "Stringify For OFB2",
      "type": "n8n-nodes-base.code",
      "position": [
        1420,
        1180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"
      },
      "id": "765cd42a-7eb6-48ce-9253-e72178b0b4bd",
      "name": "Stringify For OFB3",
      "type": "n8n-nodes-base.code",
      "position": [
        1420,
        1000
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "name": "TMT_ofb_tool",
        "description": "Returns a list of the prices, location, of TMT",
        "workflowId": "TR4oXsUYnjsWdeSY",
        "requestOptions": {}
      },
      "id": "49bdb6a8-d341-4863-8f7f-f392d64e48b1",
      "name": "TMT Info Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1240,
        480
      ]
    },
    {
      "parameters": {
        "name": "ABS_ofb_tool",
        "description": "Returns a list of the prices, location, of ABS",
        "workflowId": "vwHRuI9XsIOJilpQ",
        "requestOptions": {}
      },
      "id": "52a3c6d6-a872-47a6-8734-665663edbe80",
      "name": "ABS Info Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1400,
        480
      ]
    },
    {
      "parameters": {
        "name": "PVC_ofb_tool",
        "description": "Returns a list of the prices, location, of PVC",
        "workflowId": "ujAWgMKSIrtLYkGt",
        "requestOptions": {}
      },
      "id": "c3da2e62-2096-4a71-9905-bd20f048bd61",
      "name": "PVC Info Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1540,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://stg3-bheem.ofbusiness.co.in/api/v2/pricing/search?q=abs&city=null&brand=null&pageNumber=0&pageSize=20",
        "options": {}
      },
      "id": "8924c07c-8394-4d48-8373-9419c6541c77",
      "name": "ABS Fetch Prices",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        740,
        1380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://stg3-bheem.ofbusiness.co.in/api/v2/pricing/search?q=tmt&city=null&brand=null&pageNumber=0&pageSize=20",
        "options": {}
      },
      "id": "d6f6741a-9e10-4480-bff3-0bb2f3dab854",
      "name": "TMT Fetch Prices",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        740,
        1620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://stg3-bheem.ofbusiness.co.in/api/v2/pricing/search?q=pvc&city=null&brand=null&pageNumber=0&pageSize=20",
        "options": {}
      },
      "id": "31db33a6-977f-43e8-9a70-79671f05f9c5",
      "name": "PVC Fetch Prices",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        740,
        1180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "Bitumen_ofb_tool",
        "description": "Returns a list of the prices, location, of Bitumen",
        "workflowId": "nGmvkobFdZhepuh7",
        "requestOptions": {}
      },
      "id": "e1807ce4-5308-405b-97a8-2f8dec13b490",
      "name": "Bitumen Info Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1700,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://stg3-bheem.ofbusiness.co.in/api/v2/pricing/search?q=bitumen&city=null&brand=null&pageNumber=0&pageSize=20",
        "options": {}
      },
      "id": "cd950584-6b22-4753-9092-9d26b733f7f0",
      "name": "Bitumen Fetch Prices",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        740,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json.data.content;\n\nconst transformedData = inputData.map(item => {\n  return {\n    country: item.country,\n    oasysCategoryId: item.oasysCategoryId,\n    isGST: item.isGST,\n    locationType: item.locationType,\n    cityId: item.cityId,\n    source: item.source,\n    pricingId: item.pricingId,\n    lastUpdated: item.lastUpdated,\n    score: item.score,\n    uom: item.uom,\n    additionalParameterId: item.additionalParameterId,\n    visibilityFilter: item.visibilityFilter,\n    price: item.price,\n    state: item.state,\n    remarkId: item.remarkId,\n    oasysProductId: item.oasysProductId,\n    brand: item.brand,\n    slug: item.slug,\n    basePrice: item.basePrice,\n    priceChange: item.priceChange,\n    image: item.image,\n    productId: item.productId,\n    index: item.index,\n    productSlug: item.productSlug,\n    categorySlug: item.categorySlug,\n    plantType: item.plantType,\n    tags: item.tags,\n    uniqueName: item.uniqueName,\n    brandId: item.brandId,\n    grade: item.grade,\n    region: item.region,\n    mandiSubtype: item.mandiSubtype,\n    distance: item.distance,\n    city: item.city,\n    displayName: item.displayName,\n    canOrder: item.canOrder,\n    enabled: item.enabled,\n    mandiType: item.mandiType,\n    expiryDate: item.expiryDate,\n    maskedPrice: item.maskedPrice,\n    currency: item.currency,\n    productType: item.productType,\n    priceChangePercent: item.priceChangePercent,\n    live: item.live,\n    product: item.product,\n    gradeId: item.gradeId,\n    currencySymbol: item.currencySymbol,\n    longLoc: item.longLoc,\n    followed: item.followed,\n    productTypeId: item.productTypeId,\n    latLoc: item.latLoc,\n    additionalParameters: item.additionalParameters,\n    category: item.category,\n    categoryId: item.categoryId,\n    remarks: item.remarks,\n    pricingType: item.pricingType\n  };\n});\n\nreturn transformedData.map(data => ({ json: data }));\n"
      },
      "id": "a0f14ce9-f305-4e11-90d4-b64c1313dc1e",
      "name": "Transform Data4",
      "type": "n8n-nodes-base.code",
      "position": [
        980,
        1860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a80e884-1adb-41b1-b3a5-1f030da1735a",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "f41ff21a-17ad-4652-bc2f-aed00419ceb0",
              "name": "State ",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "106bf523-cf53-48c1-a353-98968387d1d0",
              "name": "Product",
              "value": "={{ $json.product }}",
              "type": "string"
            },
            {
              "id": "237a128a-d5fd-4ef8-8837-332948674108",
              "name": "Price",
              "value": "={{ $json.basePrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "41a11357-18ce-40e5-b6d1-e52c9cc03fe9",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1860
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"
      },
      "id": "90715107-3470-4283-a75a-f07757b89419",
      "name": "Stringify For OFB4",
      "type": "n8n-nodes-base.code",
      "position": [
        1420,
        1860
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://stg3-bheem.ofbusiness.co.in/api/v2/pricing/search?q=hdpe&city=null&brand=null&pageNumber=0&pageSize=20",
        "options": {}
      },
      "id": "9c2f0373-18f6-4f95-bf0b-cbbb901e4cea",
      "name": "HDPE Fetch Prices",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        740,
        1860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "HDPE_ofb_tool",
        "description": "Returns a list of the prices, location, of HDPE",
        "workflowId": "jmrEMYppBowlFfqL",
        "requestOptions": {}
      },
      "id": "eb53b8bd-b7a6-48df-90d5-2b0f24cef349",
      "name": "HDPE Info Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1840,
        480
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "maxIterations": 10
        }
      },
      "id": "270b708f-fffe-4c72-b4c9-4105ccb23d72",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        740,
        100
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "On new manual Chat Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "TMT Fetch Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "ABS Fetch Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "PVC Fetch Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bitumen Fetch Prices",
            "type": "main",
            "index": 0
          },
          {
            "node": "HDPE Fetch Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Stringify For OFB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Stringify For OFB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Stringify For OFB2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Stringify For OFB3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TMT Info Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ABS Info Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PVC Info Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ABS Fetch Prices": {
      "main": [
        [
          {
            "node": "Transform Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TMT Fetch Prices": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVC Fetch Prices": {
      "main": [
        [
          {
            "node": "Transform Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bitumen Info Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bitumen Fetch Prices": {
      "main": [
        [
          {
            "node": "Transform Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Stringify For OFB4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HDPE Fetch Prices": {
      "main": [
        [
          {
            "node": "Transform Data4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HDPE Info Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
